<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>个人页面</title>
	<meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=1"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/head-same.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/personal-page.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>

    <!--<link href="__PUBLIC__/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="__PUBLIC__/css/AdminLTE.css" rel="stylesheet" type="text/css"/>-->
    <link rel="stylesheet" href="__PUBLIC__/plugins/uploadify/uploadify.css" />

    <script src="__PUBLIC__/js/html5shiv.min.js"></script>
    <script src="__PUBLIC__/js/respond.min.js"></script>
    <![endif]-->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/common.js"></script>
    <script src="__PUBLIC__/plugins/plugins/plugins.js"></script>
    <script src="__PUBLIC__/plugins/formValidator/formValidator-4.1.3.js"></script>
    <script src="__PUBLIC__/plugins/uploadify/jquery.uploadify.min.js"></script>
</head>

<script>
    function search() {
        var q = [];
        q.push('keyword='+$('#keyword').val());
        location.href = '__ROOT__/index.php/Home/Index/myTenders?'+q.join('&');
    }

</script>

<body>
	<div class="head">
		<div class="nav-head">
            <div class="logo-img">
                <a href="__ROOT__/index.php/Home/Index/index"><img src="__PUBLIC__/img/index/logo.png" alt="logo"/></a>
            </div>
            <div class="search-area">
                <input type="text" id="keyword"/>
                <a><img onclick="search()" src="__PUBLIC__/img/index/search-button.png" alt="search-logo"></a>
            </div>
			<div class="login-area">

                <!--登录之后显示用户名-->
                <php>if($_SESSION['username']) {</php>
                <a href="__ROOT__/index.php/Home/User/toMyProfile" class="admin-name">欢迎你,{$Think.session.username}</a>
                <php>} else {</php>
                <a><img src="__PUBLIC__/img/index/login-button.png"></a>
                <a><img src="__PUBLIC__/img/index/sign-button.png"></a>
                <php>}</php>
			</div>
		</div>
	</div>

	<div class="current-pos">
		<img src="__PUBLIC__/img/index/pos.png" alt="定位logo"/>
		<p><span class="pos-tips">当前位置:</span>首页&gt;个人页面</p>
	</div>

    <div class="personal-details">
        <div class="pos-title-tender">
            <p>我发布的标</p>
        </div>
        <table class="imagetable">
            <tr>
                <th>序号</th>
                <th>项目名称</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>报名人数</th>
                <th>状态</th>
                <th>详情</th>
            </tr>
            <volist name="list" id="vo" key='i' empty="没有数据">
                <tr onclick="javascript:toDetail({$vo['id']})">
                    <td >{$i}</td>
                    <td >{$vo['projectname']}</td>
                    <td >{$vo['createtime']}</td>
                    <td >{$vo['enddate']}</td>
                    <td >{$vo['numbers']}</td>
                    <if condition='$vo["state"] eq 1'>
                        <td class="cat3">未审核</td>
                    </if>
                    <if condition='$vo["state"] eq 2'>
                        <td class="cat3">已审核</td>
                    </if>
                    <if condition='$vo["state"] eq 3'>
                        <td class="cat3">已评标</td>
                    </if>
                    <if condition='$vo["state"] eq 4'>
                        <td class="cat3">过期</td>
                    </if>

                    <td ><a href="__ROOT__/index.php/Home/Index/toMyBidDetail?id= + {$vo['id']}">详情</a></td>
                    <div class="clear"></div>
                </tr>
            </volist>

            <div class="bid-content-page">
                <ul>
                    <td colspan='11' align='center'>{$page}</td>
                    <div class="clear"></div>
                </ul>

            </div>
        </table>
    </div>

	<div class="footer">
		<p>&copy;2015招投标&nbsp;服务平台&nbsp;版权所有&nbsp;复制必究&nbsp;粤ICP备 172625111号</p>
	</div>
</body>
</html>